.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }
  
  .search-bar input {
    width: 300px;
    height: 40px;
    border-radius: 24px;
    border: none;
    padding: 0 24px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  }
  